{% extends 'layouts/settings.html' %}
{% block content %}
    <div class="ui grid container">
        <div class="eight wide computer sixteen wide mobile centered column">
            <h1 class="ui container">
                Site Settings
                <a href="{{ url_for('settings.new_site_setting') }}" class="ui right floated button">
                    <i class="plus icon"></i>Add
                </a>
            </h1>

            <table class="ui selectable celled table">
                <thead>
                    <tr>
                        <th>Setting</th>
                        <th>Value</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for setting in settings %}
                        <tr>
                            <td>{{ setting.name }}</td>
                            <td>{{ setting.value }}</td>
                            <td>
                                <a href="{{ url_for('settings.edit_site_setting', id=setting.id) }}"
                                    class="ui primary button">
                                    <i class="edit icon"></i>Edit
                                </a>
                                <a href="{{ url_for('settings.delete_site_setting', id=setting.id) }}" class="ui button">
                                    <i class="trash icon"></i>Delete
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
