{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Pricing Plan Settings Dashboard
            </h2>
            <div class="ui two column stackable grid">
                {{ dashboard_option('Add or Edit Free Plan Details', 'admin.free_pricing_plan_settings',
                                    description='View and manage free plan', icon='settings icon') }}
                {{ dashboard_option('Add or Edit Basic Plan Details', 'admin.basic_pricing_plan_settings',
                                    description='View and manage basic plan', icon='settings icon') }}
                {{ dashboard_option('Add or Edit Pro Plan Details', 'admin.pro_pricing_plan_settings',
                                    description='View and manage pro plan', icon='settings icon') }}
                {{ dashboard_option('Add or Edit Gold Plan Details', 'admin.gold_pricing_plan_settings',
                                    description='View and manage gold plan', icon='settings icon') }}
            </div>
        </div>
    </div>

    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Transaction Revenue Model (Transaction Fee) Settings Dashboard
            </h2>
            <div class="ui two column stackable grid">
                {{ dashboard_option('Add or Edit Stripe Transaction Fee Details', 'admin.stripe_transaction_fee_settings',
                                    description='View and manage free plan', icon='settings icon') }}
                {{ dashboard_option('Add or Edit Paystack Transaction Fee Details', 'admin.paystack_transaction_fee_settings',
                                    description='View and manage basic plan', icon='settings icon') }}
            </div>
        </div>
    </div>
{% endblock %}